<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{258,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,77}}</string>
                <key>sourceSize</key>
                <string>{258,77}</string>
            </dict>
            <key>btn_register.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{258,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,77}}</string>
                <key>sourceSize</key>
                <string>{258,77}</string>
            </dict>
            <key>login_input_sp9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>login_tt_zczh.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,81},{124,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,32}}</string>
                <key>sourceSize</key>
                <string>{124,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login_atlas.png</string>
            <key>size</key>
            <string>{624,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c69c8c2ef7b19c86ce134a1bf66ba57a$</string>
            <key>textureFileName</key>
            <string>login_atlas.png</string>
        </dict>
    </dict>
</plist>
